/* ---------About Section  -------------- */

.about {
  width: 80%;
  margin: 2% auto;
  padding: 5%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}
.about-h2 {
  text-align: center;
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 1.5%;
  font-size: 1.8rem;
}
.about > .content {
  text-align: center;
  font-size: 1.2rem;
}
