* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222;
}

/* ---------About Section  -------------- */
#ap h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  background: #0af761;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 0 0.15rem #3a3939;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* padding: 1%; */
  color: white;
  background: #3a39397d;
  box-shadow: 0 0 0.15rem #3a3939;
}
.container h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  background: #17f9f5;
  padding: 1rem;
  width: 50%;
  margin-top: 0.4%;
}
.container .content {
  display: flex;
  justify-content: center;
  width: 90%;
}
.content .table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
a.addBtn {
  text-decoration: none;
  font-weight: bold;
}
.addToTable {
  background: #06eb37;
  color: black;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.container table {
  width: 100%;
  text-align: center;
  color: black;
  border-collapse: collapse;
}
.container th {
  background: #17f9f5;
}
.container tr:nth-child(even) {
  background: #f9f9f9;
}
.container tr:nth-child(odd) {
  background: #f1f1f1;
}
.container tr:hover {
  background: #affaf9;
}
.container table th,
.container table td {
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid #ddd;
}

.container table.adminList td {
  font-size: 1vw;
}
.container table.adminList th {
  font-size: 1.2vw;
}
.container table.adminList td p.longString {
  overflow: auto;
  resize: horizontal;
}

td.act a {
  text-decoration: none;
  margin-right: 0.22rem; /* Adjust as needed */
}
td.act a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .content {
    width: 80%;
  }
  .container h3 {
    width: 60%;
  }
}
/* ----------------- Media Query ---------------*/
