*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    background: #222;
  }
  
  /* ---------About Section  -------------- */
  
  .ap{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2%;
    padding: 5%;
    color: white;
    background: #333;
  }
  .ap-h2
  {
    text-align: center;
    color: white;
    margin-top: 1.5%;
  }
    
  /* ----------------- Media Query ---------------*/  
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
    