/* ----------------- Footer Section --------------- */
/* ----------------- Footer Top ---------------*/
.ftop {
  display: flex;
  justify-content: center;
  /* gap: 2%; */
  padding: 2%;
  background: #19181880;
  color: white;
}
.ftop .footer-col {
  /* background: red; */
  width: 22%;
  padding: 1.5%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.ftop .footer-col h4 {
  /* background: green; */
  width: 100%;
  text-align: center;
  font-weight: 750;
  font-size: 1.6rem;
  /* margin-bottom: 0.4rem; */
}
.ftop .footer-col ul {
  list-style: none;
  /* background: blue; */
  margin: 0.7rem auto;
}
.ftop .footer-col ul li {
  text-align: center;
}
.ftop .footer-col:nth-child(2) ul li {
  text-align: center;
  /* background: yellow; */
}
.ftop .footer-col:nth-child(2) {
  padding-right: 0;
  padding-left: 0;
}
.ftop .footer-col:nth-child(2) ul {
  padding: 0;
  margin: 0 auto;
}
.ftop .footer-col a {
  font-size: 1.4rem;
  text-decoration: none;
  color: white;
}
/* Social Links */
.ftop .footer-col:nth-child(4) {
  width: 26%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.ftop .social-links {
  align-items: center;
  justify-content: center;
}
.ftop .social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.ftop .social-links ul li {
  padding: 0.4rem;
}

.ftop .social-links ul li a {
  font-size: 2rem;
}

/* transition for social icon hover animation */
.ftop .social-links .fa-facebook,
.fa-codepen,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-pinterest {
  transition: 0.4s;
  cursor: pointer;
}
.ftop .social-links .fa-facebook:hover,
.fa-codepen:hover,
.fa-youtube:hover,
.fa-instagram:hover,
.fa-github:hover,
.fa-pinterest:hover {
  transform: scale(1.3);
}

/* social media icons hover color */
.ftop .social-links .fa-facebook:hover,
.fa-facebook:focus {
  color: #3f92ff;
}

.ftop .social-links .fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
}

.ftop .social-links .fa-youtube:hover,
.fa-youtube:focus {
  color: #df2426;
}

.ftop .social-links .fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
}

.ftop .social-links .fa-github:hover,
.fa-github:focus {
  color: rgb(193, 179, 179);
}

.ftop .social-links .fa-codepen:hover,
.fa-codepen:focus {
  color: #cebebe;
}

.ftop .social-links .fa-pinterest:hover,
.fa-pinterest:focus {
  color: #b3001b;
}

/* ----------------- Footer Bottom ---------------*/

/* ----------------- Copyright Section ---------------*/
.fbtm .copyright {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1.5%;
  font-weight: 450;
  margin: 0%;
  width: 100%;
  font-size: 1.2rem;
}

/* ----------------- Legal Section --------------- */
.legal ul {
  padding: 1.5%;
  list-style: none;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
}
.legal ul li {
  padding: 0.4rem;
}
.legal a {
  color: white;
  font-size: 1rem;
}

/*------------- Media Query---------- */
/* Responsive layout - when the screen is less than 725px wide, make the footer links stack on top of each other instead of next to each other */
@media screen and (max-width: 725px) {
  .ftop {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .ftop .footer-col {
    margin: 3%;
    width: 95%;
  }
  .ftop .footer-col a {
    font-size: 1.1rem;
  }
  .ftop .footer-col h4 {
    font-size: 1.35rem;
  }
  .ftop .footer-col:nth-child(4) {
    width: 95%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .footer-col ul {
    margin: 1%;
    width: 95%;
  }
}
