body {
  position: relative;
  background: #222;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(2.2px);
  z-index: -1;
}
/*--------Header Section----------*/
header {
  text-align: center;
  background: rgba(23, 22, 22, 0.47);
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

header h1 {
  color: orange;
  font-size: 3rem;
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
}
header h1 span {
  color: white;
}
header p {
  font-size: 1rem;
  color: #85eaaa;
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5%;
}

/* ---------Navigation Bar-------------- */
.top-nav {
  /* background: #de060680; */
  background: #191818c1;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.2rem 2rem;
  gap: 0.4rem;
}

.top-nav > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.top-nav > ul > li {
  text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0.6rem 0.8rem;
}
.top-nav > ul > li > a {
  color: orange;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}
.top-nav > ul > li:not(:last-child) > a:hover {
  background: rgb(232, 169, 87);
  color: black;
  padding: 0.6rem 0.8rem;
}
.top-nav > ul > li > a.active {
  background: orange;
  color: black;
  padding: 0.6rem 0.8rem;
}
.nv-button button {
  background: rgb(24, 232, 138);
  font-weight: 800;
  font-size: 1.1rem;
  padding: 0.3rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
.nv-button button:hover {
  background: rgb(4, 242, 131);
  outline: 0.05rem solid white;
}
.nv-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nv-button a {
  text-align: center;
  padding: 5px 16px;
}

/*
<li class="services-dropdown">
  <a href='services'>Services</a>
  <ul class="dropdown-list">
    <li><Route Finder</li>
    <li>e-Ticket</li>
    <li>Bus Reservation</li>
  </ul>
</li>
*/
.services-dropdown {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.services-dropdown li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
}
.services-dropdown li:hover a {
  color: rgb(255, 183, 0);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  background-color: #191818c1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
}

.services-dropdown:hover .dropdown-list {
  display: block;
  transform: translateY(0);
  opacity: 1;
}

.dropdown-list li {
  padding: 0.4rem 0.4rem;
  text-align: left;
  list-style: none;
  border-bottom: 0.1rem solid #f1f1f1;
  transition: background-color 0.3s ease;
}

.dropdown-list li:hover {
  background-color: #19181860;
}

.dropdown-list li:last-child {
  border-bottom: none;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  /* background: rgb(225, 221, 221); */
}
.fa-arrow-up {
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  background: rgb(212, 234, 237);
  border-radius: 50%;
  padding: 1rem;
}
.nv-button .fa-user-circle {
  font-size: 2rem;
}
.hidden {
  display: none !important;
}

.errorEach {
  color: rgb(255, 93, 34);
  text-shadow: 0 0 0.2rem rgb(0, 0, 0);
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.511);
  width: fit-content;
  padding: 0.2rem;
  margin: 0.9rem auto;
}

.error {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #eea0aaa7;
  border: 0.1rem solid #f95669af;
  padding: 0.8rem 0.4rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: 70%;
}
.success {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #09c97f;
  border: 0.1rem solid #56f963;
  padding: 0.8rem 0.4rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: 70%;
}
span.close,
i.close {
  color: #000000 !important;
  font-size: 1.4rem;
  line-height: 0.8rem;
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0.21rem;
  cursor: pointer;
  z-index: 10;
}
span.close,
i.close:hover {
  color: #ffffff !important;
}
/* ----------------- Media Query ---------------*/
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
  header {
    background: #191818c1;
    text-align: left;
    padding: 0.05rem 1rem;
  }
  header::before {
    content: "";
    display: inline-block;
    background: url("../img/logo.svg") no-repeat center;
    background-size: 80px 120px;
    height: 80px;
    width: 100px;
    /* Uncomment this line */
  }
  header .cover {
    display: none;
  }
  .hamburger {
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: inline-block;
    padding: 1rem 1rem;
    /* flex-grow: 1; */
    overflow: auto;
    z-index: 1;
  }

  .top-nav ul {
    display: inline-block;
    text-align: center;
  }
  .top-nav ul li {
    text-align: center;
  }
  .top-nav ul li {
    text-align: center;
  }
  .back-to-top {
    margin-right: 0;
  }
}
