* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222222;
}
section {
  display: flex;
  justify-content: center;
  padding: 4% 2%;
  flex-wrap: wrap;
  overflow: hidden;
}

section .signin {
  background: #222;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1%;
  padding: 2%;
  border-radius: 0.4rem;
  box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, 9);
}
section .signin h2 {
  font-size: 1.7rem;
  color: rgb(27, 240, 105);
  text-align: center;
  margin-top: 2rem;
}
section .signin p:nth-child(1) {
  align-self: flex-end;
}
section .signin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 1rem;
  margin-top: 0.4rem;
}

section .signin form .inputBox {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  background: #333;
  width: 90%;
  padding: 1.5%;
  border-radius: 0.3rem;
}
section .signin form .inputBox input {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  width: 95%;
  background: #6d6c6c3b;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  margin: 1% auto;
  padding: 0.2rem 0.6rem;
  margin-top: 0.4rem;
}

section .signin form .inputBox label {
  display: block;
  text-align: left;
  color: #aaa;
  width: 100%;
}
section .signin form i {
  color: #aaa;
}

.signin .links {
  font-size: 1rem;
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-around;
}
.signin form .links a {
  color: #fff;
  text-decoration: none;
}
.signin form .links a:nth-child(2) {
  color: rgb(83, 243, 30);
  font-weight: 600;
}
.signin form input[type="submit"] {
  padding: 0.5rem;
  background: orange;
  border-radius: 0.2rem;
  color: #000;
  font-weight: 900;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: 68%;
}

.signin form input[type="submit"]:active {
  opacity: 0.6;
}
.signin form input[type="submit"]:hover {
  opacity: 0.6;
  border: 0.1rem solid black;
}

.error {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #edc6cb;
  border: 0.1rem solid #f95668;
  padding: 0.8rem 0.4rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: 70%;
}
.success {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #09c97f;
  border: 0.1rem solid #56f963;
  padding: 0.8rem 0.4rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: 70%;
}
span.close {
  color: #000000;
  font-size: 1.4rem;
  line-height: 0.8rem;
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  cursor: pointer;
}
span.close:hover {
  color: #f95668;
}

.fa-shield {
  font-size: 1.5rem;
  color: #00d0ff !important;
}
section .signin select {
  font-size: 1rem;
  outline: 0.1rem solid #74e4fd;
  box-shadow: 0 0 0.1rem #61bdd2;
  margin: 0 0.8rem 0 0.2rem;
}

@media screen and (max-width: 450px) {
  section .signin {
    width: 90%;
  }
  section .signin form .inputBox input {
    width: 90%;
  }
  section .signin form .inputBox {
    width: 90%;
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  section .signin {
    width: 75%;
  }
  section .signin form .inputBox input {
    width: 90%;
  }
  section .signin form .inputBox {
    width: 90%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1220px) {
  section .signin {
    width: 56%;
  }
  section .signin form .inputBox input {
    width: 90%;
  }
  section .signin form .inputBox {
    width: 90%;
  }
}

/* .alert{
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.alert_info{
  background-color: #4285f4;
  border: 2px solid #4285f4;
}
button.close{
  -webkit-appearance: none;
  padding: 0;cursor: pointer;
  background: 0 0;
  border: 0
}
.close{
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
  font-weight: normal
}
.alert_success{
  background-color: #09c97f;
  border: 2px solid #09c97f;
}
.alert_warning{
    background-color: #f8b15d;
    border: 2px solid #f8b15d;
}
.alert_error{
  background-color: #f95668;
  border: 2px solid #f95668;
}
.fade_info{
  background-color: #d9e6fb;
  border: 1px solid #4285f4;
}
.fade_info .close{
  color: #4285f4;
}
.fade_info strong{
  color: #4285f4;
}
.fade_success{
  background-color: #c9ffe5;
  border: 1px solid #09c97f;
}
.fade_success .close{
  color: #09c97f;
}
.fade_success strong{
  color: #09c97f;
}
.fade_warning{
  background-color: #fff0cc;
  border: 1px solid #f8b15d;
}
.fade_warning .close{
  color: #f8b15d;
}
.fade_warning strong{
  color: #f8b15d;
}
.fade_error{
  background-color: #ffdbdb;
  border: 1px solid #f95668;
}
.fade_error .close{
  color: #f95668;
}
.fade_error strong{
  color: #f95668;
} */
