* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  flex-wrap: wrap;
  overflow: hidden;
}

section .signin {
  width: 400px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}
section .signin .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 {
  font-size: 2em;
  color: orange;
}
section .signin .content .form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox {
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  width: 150%;
  padding: 5px 10px;
  font-style: normal;
  color: #aaa;
}

.signin .content .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a {
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2) {
  color: rgb(83, 243, 30);
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: orange;
  color: #000;
  font-weight: 900;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active {
  opacity: 0.6;
}
.signin .content .form p {
  color: white;
  margin-right: 5px;
}
.error {
  color: rgb(0, 0, 0);
  background: #edc6cb;
  border: 2px solid #f95668;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px;
}
.success {
  color: rgb(0, 0, 0);
  background: #09c97f;
  border: 2px solid #56f963;
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px;
}

/* .alert{
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.alert_info{
  background-color: #4285f4;
  border: 2px solid #4285f4;
}
button.close{
  -webkit-appearance: none;
  padding: 0;cursor: pointer;
  background: 0 0;
  border: 0
}
.close{
  font-size: 20px;
  color: #fff;
  opacity: 0.9;
  font-weight: normal
}
.alert_success{
  background-color: #09c97f;
  border: 2px solid #09c97f;
}
.alert_warning{
    background-color: #f8b15d;
    border: 2px solid #f8b15d;
}
.alert_error{
  background-color: #f95668;
  border: 2px solid #f95668;
}
.fade_info{
  background-color: #d9e6fb;
  border: 1px solid #4285f4;
}
.fade_info .close{
  color: #4285f4;
}
.fade_info strong{
  color: #4285f4;
}
.fade_success{
  background-color: #c9ffe5;
  border: 1px solid #09c97f;
}
.fade_success .close{
  color: #09c97f;
}
.fade_success strong{
  color: #09c97f;
}
.fade_warning{
  background-color: #fff0cc;
  border: 1px solid #f8b15d;
}
.fade_warning .close{
  color: #f8b15d;
}
.fade_warning strong{
  color: #f8b15d;
}
.fade_error{
  background-color: #ffdbdb;
  border: 1px solid #f95668;
}
.fade_error .close{
  color: #f95668;
}
.fade_error strong{
  color: #f95668;
} */
