*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #222;
}
/* --------- Services Section  -------------- */
.services{
  background: #222;
}
h2{
  color: white;
  text-align: center;
  padding: 1%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  text-align: center;
  width: 30%;
}
.card {
  padding: 5%;
  margin: 5%;
  height: 250px;
  background: #8bc182;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
.card h3 {
  color: #000000;
  font-size: larger;
  font-weight: 700;
  margin: 1em 0;
}
.card p {
  color: #000000;
  font-size: medium;
}
.card .icon-wrapper {
  font-size: 30px;
  color: #ffffff;
  background: #740e74;
  height: 2.5em;
  width: 2.5em;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.card:hover {
  background: black;
}
.card:hover .icon-wrapper {
  background: #ffffff;
  color: #2c7bfe;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}
.column a:link{
  text-decoration: none;
}

/* ----------------- Media Query ---------------*/
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row{
    display: flex;
    flex-direction: column;
  }
  .column {
    display: block;
    width: 90%;
  }
}
