* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222;
}
/* h1 ---------Main Body----------- */
.main {
  padding: 5%;
  background: #222;
}
/* h2 @section Route Finder */
.route-finder {
  background: #19181880;
  color: orange;
  width: 60%;
  margin: 2% auto;
  padding: 3%;
  text-align: center;
  box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, 9);
}
.route-finder h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2%;
}

.route-finder .welcome {
  color: white;
  margin-bottom: 50px;
  padding: 1rem;
  font-size: 1em;
}

.route-finder h2 {
  text-align: center;
  margin-bottom: 2%;
}

.route-finder input {
  width: 60%;
  margin: 0.4em 0;
  padding: 0.5em;
  border-radius: 0.4em;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
}
.route-finder button {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  background: rgb(78, 238, 163);
  border-radius: 0.35em;
  width: 40%;
  padding: 0.5em;
  margin-top: 0.5em;
}

.route-finder button:hover {
  background: rgb(0, 255, 136);
}
.route-finder button:active {
  background: rgb(24, 232, 138);
}
.output {
  text-align: center;
  margin: 1em auto;
}
.route-finder form {
  margin-bottom: 1rem;
}
/* @section Table of results */
span.dd {
  color: black;
  background: white;
  padding: 0.4rem;
  text-align: center;
  font-size: 1rem;
  border: 0.1rem solid black;
}
table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
  color: black;
  /* margin: 0.4rem auto; */
}
tr.tr {
  background: white;
  cursor: pointer;
}
tr.tr:hover {
  background: #f6c780;
}

th,
td {
  border: 0.1rem solid black;
  padding: 0.2rem;
  text-align: center;
  font-size: 1rem;
}
th {
  background: orange;
  font-size: 1.2rem;
}
td a {
  text-decoration: none;
  color: black;
}
.error {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #edc6cb;
  border: 0.1rem solid #f95668;
  padding: 0.8rem 0.4rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: 70%;
}
.success {
  position: relative;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #09c97f;
  border: 0.1rem solid #56f963;
  padding: 0.8rem 0.4rem;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  width: 70%;
}
/* h1 @section Contact Form */
.contact {
  text-align: center;
  color: white;
  background: #19181880;
  width: 60%;
  margin: 2em auto;
  padding: 3em;
  box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, 9);
}

.contact h3 {
  background: orange;
  color: black;
  text-align: center;
  padding: 0.5rem 0;
}

.contact p {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: left;
}

.contact form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.25em;
  background: #171616;
  width: 100%;
  max-width: 37.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.1);
}

.contact form .input {
  width: 100%;
  margin-bottom: 0.9375em; /* 15px/16px */
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.625em;
  border: 0.0625em solid #ddd;
  border-radius: 0.25em;
}

.contact .input label {
  color: rgb(251, 251, 251);
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.3125em;
  display: block;
}

.contact button {
  background-color: #4caf50;
  border: none;
  color: white;
  width: 60%;
  padding: 0.6em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 0.25em auto;
  cursor: pointer;
  border-radius: 0.35em;
}

/*------------- Media Query---------- */
/* Responsive layout - when the screen is less than 600px wide*/
/* Media query for screens smaller than 37.5em (600px/16px) */
@media screen and (max-width: 750px) {
  .main {
    width: 100%;
    padding: 1%;
    margin-top: 2%;
  }
  .route-finder {
    width: 90%;
    padding: 4%;
  }
  .route-finder h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  #contact {
    width: 90%;
    padding: 4%;
  }
  #contact p {
    width: 95%;
    padding: 4%;
  }
  #contact form {
    width: 92%;
    margin: 2%;
    padding: 3%;
  }
}
/* 750px and 1200px */
@media screen and (min-width: 750px) and (max-width: 1200px) {
  .main {
    width: 100%;
    padding: 1%;
    margin-top: 2%;
  }
  .route-finder {
    width: 78%;
    padding: 4%;
  }
  /* .route-finder h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2%;
  } */
  #contact {
    width: 78%;
    padding: 4%;
  }
  #contact p {
    width: 95%;
    padding: 4%;
  }
  #contact form {
    width: 92%;
    margin: 2% auto;
    padding: 3%;
  }
}
