* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #222;
}
/* h1 ---------Main Body----------- */
.main {
  padding: 5%;
  background: #222;
}
/* h2 @section Route Finder */
.route-finder {
  background: #19181880;
  color: orange;
  width: 60%;
  margin: 2% auto;
  padding: 3%;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 9);
}
.route-finder h1 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2%;
}

.route-finder .welcome {
  color: white;
  margin-bottom: 50px;
  font-size: 15;
}

.route-finder h2 {
  text-align: center;
  margin-bottom: 2%;
}

.route-finder input {
  width: 60%;
  margin: 0.4em 0;
  padding: 0.5em;
  border-radius: 0.4em;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
}
.route-finder button {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  background: rgb(78, 238, 163);
  border-radius: 0.35em;
  width: 40%;
  padding: 0.5em;
  margin-top: 0.5em;
}

.route-finder button:hover {
  background: rgb(0, 255, 136);
}
.route-finder button:active {
  background: rgb(24, 232, 138);
}

/* @section Table of results */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: black;
}

th {
  background-color: #4caf50;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* h1 @section Contact Form */
.contact {
  text-align: center;
  color: white;
  background: #19181880;
  width: 60%;
  margin: 2em auto;
  padding: 3em;
  box-shadow: 0 0.9375em 2.1875em rgba(0, 0, 0, 9); /* 15px/16px and 35px/16px */
}

.contact h3 {
  background: orange;
  color: black;
  text-align: center;
}

.contact p {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: left;
}

.contact form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.25em; /* 20px/16px */
  background: #171616;
  width: 100%;
  max-width: 37.5em; /* 600px/16px */
  border-radius: 0.5em; /* 8px/16px */
  box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.1); /* 10px/16px */
}

.contact form .input {
  width: 100%;
  margin-bottom: 0.9375em; /* 15px/16px */
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 0.625em; /* 10px/16px */
  border: 0.0625em solid #ddd; /* 1px/16px */
  border-radius: 0.25em; /* 4px/16px */
}

.contact .input label {
  color: rgb(251, 251, 251);
  text-align: left;
  font-weight: bold;
  margin-bottom: 0.3125em; /* 5px/16px */
  display: block;
}

.contact button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  width: 60%;
  padding: 0.6em 1.5em; /* 15px/16px and 32px/16px */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em; /* 16px/16px */
  font-weight: bold;
  margin: 0.25em auto; /* 4px/16px and 2px/16px */
  cursor: pointer;
  border-radius: 0.35em; /* 4px/16px */
}

/*------------- Media Query---------- */
/* Responsive layout - when the screen is less than 600px wide*/
/* Media query for screens smaller than 37.5em (600px/16px) */
@media screen and (max-width: 600px) {
  .main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .route-finder {
    width: 100%;
    margin: 0;
    padding: 1%;
  }
  .route-finder h1 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2%;
  }
  #contact {
    width: 100%;
    margin: 0;
    padding: 1%;
  }
}
