.wrapper{
    width: 70%;
    padding: 1%;
    margin: auto auto;
}
h2{
    text-align: center;
}
th{
    text-align: center;
}
td{
    padding: 1%;
}
.act{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    padding: 1.5%;
}
